<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{/static/css/common.css}" />
    <link rel="stylesheet" th:href="@{/static/css/cart.css}" />
    <script language="JavaScript" th:src="@{/static/script/vue.js}"></script>
    <script language="JavaScript" th:src="@{/static/script/axios.min.js}"></script>
    <script language="JavaScript" th:src="@{/static/script/cart.js}"></script>
    <base th:href="@{/}">
</head>
<body>
<div class="header">
    <div class="w">
        <div class="header-left">
            <a th:href="@{/index.html}">
                <img th:src="@{/static/img/logo.gif}" alt=""
                /></a>
            <h1>マイカート</h1>
        </div>
        <div class="header-right">
            <h3>ようこそ<span th:text="${session.currUser.uname}">name</span>YYM中古本通販サイト</h3>
            <div class="order"><a th:href="@{/order.do(operate='getOrderList')}">注文歴史</a></div>
            <div class="destory">
                <a href="#" th:href="@{/page.do(operate='page',page='user/login')}" class="gohome">ログアウト</a>
            </div>
            <div class="gohome">
                <a href="#" th:href="@{/book.do}" class="gohome">戻る</a>
            </div>
        </div>
    </div>
</div>
<div class="list" id="cart_div">
    <div class="w">
        <table>
            <thead>
            <tr>
                <th>写真</th>
                <th>商品名</th>

                <th>数</th>
                <th>単価</th>
                <th>総額</th>
                <th>他の操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="cartItem : ${session.currUser.cart.cartItemMap.values()}">
                <td>
                    <img th:src="@{|/static/uploads/${cartItem.book.bookImg}|}" alt=""/>
                </td>
                <td th:text="${cartItem.book.bookName}">本の名前</td>
                <td>
                    <span class="count" th:onclick="|editCart(${cartItem.id},${cartItem.buyCount-1})|">-</span>
                    <input class="count-num" type="text"  th:value="${cartItem.buyCount}"/>
                    <span class="count" th:onclick="|editCart(${cartItem.id},${cartItem.buyCount+1})|">+</span>
                </td>
                <td th:text="${cartItem.book.price}">36.8</td>
                <td th:text="${cartItem.book.price * cartItem.buyCount}"></td>
                <td><button th:onclick="|delOneCartItem(${cartItem.id})|">削除</button></td>
            </tr>
            </tbody>
        </table>
        <div class="footer">
            <div class="footer-left" >
                <a class="clear-cart" >全ての商品を削除する</a>
                <a href="#" th:href="@{/book.do}">ショッピングを続ける</a>
            </div>
            <div class="footer-right">
                <div>合計<span th:text="${session.currUser.cart.getTotalCount()}"></span>件商品</div>
                <div class="total-price">総額<span th:text="${session.currUser.cart.getTotalMoney()}"></span>JPY</div>
                <a class="pay" th:href="@{/order.do(operate='confirmPage')}">購入手続きへ</a>
            </div>
        </div>
    </div>
</div>


<!--
cart
<table>
    <tbody>
    <tr th:each="cartItem : ${session.currUser.cart.cartItemMap.values()}">
        <td>
            <img th:src="@{|/static/uploads/${cartItem.book.bookImg}|}" alt=""/>
        </td>
        <td th:text="${cartItem.book.bookName}">活着</td>
        <td>
            <span class="count" >-</span>
            <input class="count-num" type="text" value="1" th:value="${cartItem.buyCount}"/>
            <span class="count">+</span>
        </td>
        <td th:text="${cartItem.book.price}">36.8</td>
        <td><a href="">删除</a></td>
    </tr>
    </tbody>
</table>
<div class="footer">
    <div class="footer-right">
        <div>共<span th:text="${session.currUser.cart.totalBookCount}">3</span>件商品</div>
        <div class="total-price">总金额<span th:text="${session.currUser.cart.totalMoney}">99.9</span>元</div>
        <a class="pay" th:href="@{/order.do(operate='checkout')}">去结账</a>
    </div>
</div>



-->
</body>
</html>