<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>YYM中古本新規登録</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/register.css}"/>
    <style type="text/css">
        .login_form {
            height: 420px;
            margin-top: 25px;
        }
    </style>
    <script language="JavaScript" th:src="@{/static/script/regist.js}"></script>
</head>
<body>

<div class="login_banner">
    <div class="register_form">
        <h1>YYM中古本新規登録</h1>
        <form th:action="@{/user.do}" method="post" onsubmit="return preRegist() ;">
            <input type="hidden" name="operate" value="regist"/>
            <div class="form-item">
                <div>
                    <label>ユーザID:</label>
                    <input id="unameTxt" type="text" placeholder="请输入用户名" name="uname" value="cheese_jerry" onblur="ckUname(this.value)"/>
                </div>
                <span id="unameSpan" class="errMess">ユーザIDは６文字以上16文字以内　半角英数記号のみ</span>
            </div>
            <div class="form-item">
                <div>
                    <label>パスワード：</label>
                    <input id="pwdTxt" type="password" placeholder="请输入密码" name="pwd" value="146833"/>
                </div>
                <span id="pwdSpan" class="errMess">パスワードは8文字以上16文字以内　半角英数記号のみ</span>
            </div>
            <div class="form-item">
                <div>
                    <label>確認のためパスワードをもう一度入力してください:</label>
                    <input id="pwdTxt2" type="password" placeholder="请输入确认密码" value="146833"/>
                </div>
                <span id="pwdSpan2" class="errMess">パスワードの確認入力とパスワードが一致しません</span>
            </div>
            <div class="form-item">
                <div>
                    <label>メールアドレス:</label>
                    <input id="emailTxt" type="text" placeholder="请输入邮箱" name="email" value="yueminyu40@gmail.com"/>
                </div>
                <span id="emailSpan" class="errMess">正しいメールアドレスを入力してください</span>
            </div>
            <div class="form-item">
                <div>
                    <label>確認コード:</label>
                    <div class="verify">
                        <input type="text" name="verifyCode" placeholder="" />
                        <img th:src="@{/KaptchaServlet}" alt="" />
                    </div>
                </div>
                <span class="errMess">正しい確認コードを入力してください</span>
            </div>
            <button class="btn">登録</button>
            <div class="gohome">
                <a href="#" th:href="@{/book.do}" class="gohome">ホームページへ</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>